body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
    line-height: 1.6;
    background-image: url(https://image.fonwall.ru/o/nr/bmw-m5-f90-in-the-dark-black-car.jpg?auto=compress&fit=crop&w=2560&h=1600&domain=img3.fonwall.ru);
    background-size:100vh;
}

.logo {
    border-radius: 100%;
    height: 50px;
}
header {
    background-color: #333;
    padding: 16px;
}
nav {
    display: flex;
}
nav h1 {
    margin: 0;
    color: #ff4500;
    padding-left: 8px;
}
nav ul {
    position: absolute;
    right: 16px;
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ff4500;
}

#slogan {
    color: beige;
    font-size: 30px;
}
#to {
    align-items: center;
    display: inline;
    margin-right: 10px;
}

#name {
    justify-content: center;
    color: #8F2600;
    display: inline;
}
main {
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;
}
main section {
    text-align: center;
    padding: 64px 32px;
    color: #fff;
    display: inline;
}
.container {
    width: 100%;
}

.feature-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.features-grid {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    gap: 30px;
}

.feature-card {
    background: none;
    padding: 16px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid none;
   background-color:#222;
    width: 250px;
}
.feature-card h3{
    color:#e63900;
}
.icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    
}
.feature-card:hover{
    transition-delay: 0.1s;
    transform: translate(1px);
     box-shadow: 0 10px 30px #8F2600;
      background-color: #333;
}
.logos{
    border-radius: 20%;
    width:30px;
    height:30px;
    position: static;
}
iframe{
    width:95%;
    height: 200px;
    border-radius: 2%;
    filter: invert(100%);
}
.follow{
   position: absolute;
   left:41%;
}
footer {
    text-align: center;
    padding: 16px;
    background-color: #333;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:center;  
}

.about-content {
    padding: 80px 20px;
}
.about-values {
    margin: 4rem 0;
}
.about-values h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.team{
      padding: 5px 20px 20px 20px;
    border-radius: 30px;
}
.row{
    display: flex;
    direction: row;
}
.members{
    border-radius: 30px;
    background:#222;
    display: inline-block;
    width:45%;
    margin:20px;
    padding:3px;
}
.members h3{
    color:#ff4500;
    font-size: 20px;
}
.member{
    border-radius: 30px;
    background-color: #222;
    padding:3px;
    width:100%;
}
.member h3{
    color:#ff4500;
    font-size: 20px;
}
.members:hover{
     transition-delay: 0.1s;
     transform: translate(1px);
     box-shadow: 0 10px 30px #8F2600;
     background-color: #333;
}
.member:hover{
     transition-delay: 0.1s;
     transform: translate(1px);
     box-shadow: 0 10px 30px #8F2600;
     background-color: #333;
}
.about-story {
    max-width: 900px;
    margin: 4rem auto;
    text-align: center;
    background-color: #222;
    border-radius: 4%;
}

.about-story h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about-story p {
    font-size: 1.1rem;
    color: white;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}
.bg{
    background-image: url(https://image.fonwall.ru/o/nr/bmw-m5-f90-in-the-dark-black-car.jpg?auto=compress&fit=crop&w=2560&h=1600&domain=img3.fonwall.ru);
    background-size: cover;
}
@media (max-width:770px) {
    nav ul {
        flex-direction: column;
    }
}





