 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
    line-height: 1.6;
    
  background-image: url(https://image.fonwall.ru/o/nr/bmw-m5-f90-in-the-dark-black-car.jpg?auto=compress&fit=crop&w=2560&h=1600&domain=img3.fonwall.ru);
    background-size: 100vh;
}

.logo {
    border-radius: 100%;
    height: 50px;
}
header {
    background-color: #333;
    padding: 16px;
}
.follow{
   position: absolute;
   left:41%;
}

#slogan {
    color: beige;
    font-size: 30px;
}

nav {
    display: flex;
    align-items: center;
}

nav h1 {
    margin: 0;
    color: #ff4500;
    padding-left: 8px;
}

nav ul {
    position: absolute;
    right: 16px;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ff4500;
}

.experise {
    color: #ff4500;
    display: inline;
}

main {
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #333;
}
.para{
    display: inline;
}

main section {
    text-align: center;
    padding: 64px 32px;
    color: #fff;
    display: inline;
}

#to {
    align-items: center;
    display: inline;
    margin-right: 10px;
}

#name {
    justify-content: center;
    color: #8F2600;
    display: inline;
}

#welcome h2 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e63900;
}

#about {
    text-align: center;
}

.page-header {
    padding: 50px 20px 80px;
    text-align: center;
}

.page-header h1 {
    font-size: 3rem;
    margin-bottom: 16px;
}

.page-header p {
    font-size: 1.2rem;
    color: grey;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.product {
    background-color: #222;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #e63900;
}
iframe{
    width:95%;
    height: 200px;
    border-radius: 2%;
    filter: invert(100%);
      border: 1px solid rgba(255, 69, 0, 0.1);
    box-shadow: 0 10px 30px rgba(255, 69, 0, 0.1);
}
.logos{
    border-radius: 20%;
    width:30px;
    height:30px;
    position: static;

}



